if !testing
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "#{siteTitle}",
      "url": "#{siteURL}",
      "sameAs": "#{fPlusURL}",
      "image": "#{siteURL}/img/og-square.jpg",
      "description": "#{description}",
      "inLanguage": "English",
      "publisher": {
        "@type": "Organization",
        "name": "Busted Minds",
        "url": "https://busted-minds.github.io"
      }
    }
